* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: #fff;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  color: var(--dark-grayish-blue);
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-cyan);
  z-index: -2;
  position: relative;
  overflow: hidden;
}

#card {
  width: 325px;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

#user-bg {
  background: url(images/bg-pattern-card.svg);
  height: 140px;
}

#user-avatar {
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(70%);
  position: absolute;
}

#user-avatar img {
  border-radius: 50%;
  border: 8px solid white;
}

#user-profile {
  padding-top: 70px;
  padding-bottom: 20px;
}

#user-attribute {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-direction: row;
  border-top: 2px solid #ebebeb;
}

.bg-top {
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%);
}

.bg-bottom {
  z-index: -1;
  position: absolute;
  transform: translate(50%, 50%);
}

.attribute-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  display: inline-block;
  color: var(--dark-desaturated-blue);
  font-weight: 700;
  padding-bottom: 10px;
}

.city {
  display: block;
  font-size: 14px;
}

.text-bold {
  font-weight: 700;
  color: var(--dark-desaturated-blue);
}

.text-light {
  font-size: 10px;
  letter-spacing: 1px;
}
